#cloud-config

package_upgrade: false

packages:
  - vim

users:
  - name: {{ ansible_user }}
    lock-passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ vm_base_ssh_key }}
