#cloud-config

package_upgrade: true

packages:
  - epel-release
  - vim
  - wget 
  - git 
  - net-tools 
  - bind-utils 
  - yum-utils 
  - iptables-services 
  - bridge-utils 
  - bash-completion 
  - kexec-tools 
  - sos 
  - psacct
  - ansible
  - pyOpenSSL
  - htop

groups:
  - docker

users:
  - default
  - name: {{ ansible_user }}
    groups: docker
    shell: /bin/bash
    lock-passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ vm_base_ssh_key }}

chpasswd:
  list: |
    root:root
    {{ ansible_user }}:{{ ansible_user }}
  expire: False

runcmd:
  - [ sed, -i, -e, 's/#PermitRootLogin yes/PermitRootLogin no/g', /etc/ssh/sshd_config ]
  - [ sed, -i, -e, '$aAllowUsers {{ ansible_user }}', /etc/ssh/sshd_config ]
  - systemctl restart sshd
  - timedatectl set-timezone {{ vm_base_timezone }}
  - touch /etc/cloud/cloud-init.disabled

power_state:
  mode: poweroff
  message: Bye Bye
  condition: True