<domain type='{{ vm_base_engine }}'>
  <name>{{ vm_base.name }}</name>
  <title>{{ vm_base_machine.hostname }}.{{ network.domain }}</title>
  <memory>{{ vm_base.memory_mb | int * 1024 }}</memory>
  <vcpu>{{ vm_base.vcpus }}</vcpu>
  <clock sync="localtime"/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <os>
    <type arch='{{ vm_base_arch }}'>hvm</type>
    <bootmenu enable='no'/>
    <boot dev='hd'/>
    <boot dev='network'/>
    <bios useserial='yes'/>
  </os>
  <cpu mode='host-model' check='partial'>
    <model fallback='allow'/>
  </cpu>
  <devices>
    <emulator>{{ vm_base_emulator }}</emulator>
{% for volume in volumes %}
{%  if volume.device|lower == 'disk' %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='{{ volume.format }}'/>
      <source file='{{ pool.path }}/{{ pool.name }}/{{ volume.name }}.{{ volume.format }}' />
      <target dev='vd{{ "abcdefghijklmnopqrstuvwxyz"[loop.index0] }}'/>
    </disk>
{%  endif %}
{%  if volume.device|lower == 'cdrom' %}
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ pool.path }}/{{ pool.name }}/boot.iso'/>
      <target dev='sda' bus='sata'/>
      <readonly/>
    </disk>
{%  endif %}
{% endfor %}

{% for interface in vm_base.interfaces %}
{% if interface.type is defined and interface.type == 'direct' %}
    <interface type='direct'>
      <source dev='{{ interface.source.dev }}' mode='{{ interface.source.mode | default('vepa') }}'/>
{% else %}
    <interface type='network'>
      <source network='{{ interface.network }}'/>
{% endif %}
      <model type='virtio'/>
    </interface>
{% endfor %}
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
  </devices>
</domain>